---
layout: base.njk
title: you find yourself in cascading.space
home: true
eleventyExcludeFromCollections: true
---

animated pixel art banner

{# Navigation bar content #}

home link

links page

social links?

motion/theme toggles, site controls

{# Begin homepage content #}

{# recipes - alpha #}
<section class="home-section">
<h2><a href="/recipes">recipes</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.recipes -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# art - alpha #}
<section class="home-section">
<h2><a href="/art">art</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.art -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# fursona #}
<section class="home-section">
<h2><a href="/cascade">who am i?</a></h2>
{# <a href="/cascade"><img src="#" alt="cascade the protogen" /></a> #}
</section>