---
layout: base.njk
title: you find yourself in cascading.space
home: true
eleventyExcludeFromCollections: true
---

animated pixel art banner

{# Navigation bar content #}

home link

links page

social links?

motion/theme toggles, site controls

{# Begin homepage content #}

{# recipes - alpha #}
<section class="home-section">
<h2><a href="/recipes">recipes</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.recipes -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# art - alpha #}
<section class="home-section">
<h2><a href="/art">art</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.art -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# fursona #}
<section class="home-section">
<h2><a href="/cascade">who am i?</a></h2>
{# <a href="/cascade"><img src="#" alt="cascade the protogen" /></a> #}
</section>

<h2>Reply!</h2>
<form class="new-comment flow" name="new-comment" netlify netlify-honeypot="sugaa" style="border: 1px solid black;">
  <div class="visually-hidden">
    <input name="sugaa" />
  </div>
  <input type="hidden" name="path" value="{{ page.url }}" />
  <input type="hidden" name="parent" value="0" />
  <input type="hidden" name="commentId" />
  <input type="hidden" name="modUrl" />
  <p><label>Your name
    <input type="text" name="name" required placeholder="Cascade" />
  </label></p>
  <p><label>Your website or social
    <input type="text" name="url" placeholder="https://cascading.space" />
  </label></p>
  <p><label>Link to avatar
    <input type="text" name="avatar" placeholder="https://cascading.space/bin/img/cascade-icon.jpeg" />
  </label></p>
  <p><label>Comment
    <textarea name="comment" required placeholder="Comment here..."></textarea>
  </label></p>
  <p><button type="submit">Send</button></p>
</form>
<script>
  const handleSubmit = (event) => {
    event.preventDefault();

    const form = event.target;
    let cid = Date.now().toString(36) + Math.random().toString(36).substr(2);
    document.querySelector('[name="commentId"]').value = cid;
    document.querySelector('[name="modUrl"]').value = `https://cascading.space/secret-moderation-hole/?comment=${cid}`;
    const data = new FormData(form);

    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(data).toString()
    })
      .then(() => console.log('Form submitted!'))
      .catch((error) => alert(error));
  };
  document.querySelector('[name="new-comment"]').addEventListener('submit', handleSubmit);
</script>