---
layout: base.njk
title: you find yourself in cascading.space
home: true
eleventyExcludeFromCollections: true
---

animated pixel art banner

{# Navigation bar content #}

home link

links page

social links?

motion/theme toggles, site controls

{# Begin homepage content #}
<p class="welcome" data-text="welcome friends."><span>welcome friends.</span></p>

{# blog - shipped, beta #}
<section class="home-section">
<h2><a href="/blog">blog</h2>
<ul>
  {# Figure out how to limit to X most recent #}
{%- for post in collections.blog -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# webrings - shipped #}
<section class="home-section">
    <h2><a href="https://en.wikipedia.org/wiki/Webring" target="_blank">webrings</a></h2>
    <p class="webrings">
        <a href="https://cleanfurs.club/prev"><--</a>
        <a href="https://cleanfurs.club">SFW Furries</a>
        <a href="https://cleanfurs.club/next">--></a>
        <a href="https://cleanfurs.club/random">Random</a>
    </p>
</section>

{# recipes - alpha #}
<section class="home-section">
<h2><a href="/recipes">recipes</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.recipes -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# art - alpha #}
<section class="home-section">
<h2><a href="/art">art</h2>
<ul>
  {# carousel? marquee? #}
{%- for post in collections.art -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>
</section>

{# fursona #}
<section class="home-section">
<h2><a href="/cascade">who am i?</a></h2>
<a href="/cascade"><img src="#" alt="cascade the protogen" /></a>
</section>