:root {
    color-scheme: light dark;

    --dark: #222222;
    --light: #efefef;

    --light-main-bg: var(--light);
    --light-accent-bg: white;
    --light-text-color: var(--dark);

    --dark-main-bg: var(--dark);
    --dark-accent-bg: black;
    --dark-text-color: var(--light);

    --background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
    --text-color: light-dark(var(--light-text-color), var(--dark-text-color));
    --accent-bg: light-dark(var(--light-accent-bg), var(--dark-accent-bg));
}
body {
    background-color: var(--light);
    background-color: var(--background-color);
    color: var(--dark);
    color: var(--text-color);

    position: relative;
    display: grid;
    grid-template-columns: 15px 1fr min(100% - 2rem, var(--container-max, 80ch)) 1fr 1fr 15px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:    ". . header . . ."
                            ". . main sidebar . ."
                            ". . mentions . . ."
                            ". . footer . . .";
}
.container {
    margin-inline: 0;
    inline-size: 100%;
}
main {
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: main-start / sidebar-end;
    grid-row: main;
}
main > article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: main-start / sidebar-end;
    grid-row: main;
}
main .e-content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: main-start / sidebar-end;
}
main .e-content > *,
main > *:not(article) {
    grid-column: main;
}
main .e-content > aside.sidebar {
    grid-column: sidebar;
    margin-left: 1.5em;
    height: 100%;
    width: calc(100% - 1.5em);
    position: absolute;
    right: 0;
    > * {
        background-color: var(--accent-bg);
        padding: 2em;
        border-radius: 40px;
        margin-block-start: 5em;
    }
}
@media only screen and (max-width: 1400px) {
    main .e-content > aside.sidebar {
        grid-column: main;
        position: relative;
        margin: 0;
        width: 100%;
        > * {
            margin-block-start: 1em;
        }
    }
}
h1,h2,h3,h4,h5,h6,.site-header { font-weight: bold; }
h1, .site-header { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5,h6 { font-size: 1.1rem; }
code {
    background-color: light-dark(var(--dark-main-bg), var(--dark-accent-bg));
    color: var(--dark-text-color);
    padding: .3em;
    border-radius: 5px;
}
pre {
    background-color: light-dark(var(--dark-main-bg), var(--dark-accent-bg));
    border: 3px solid light-dark(var(--dark-accent-bg), var(--dark-text-color));
    padding: 1em;
    overflow-x: scroll;
    code {
        display: block;
        padding: 0;
    }
}
.aboutme ul,
main ul:not(.notlist) {
    list-style-type: disc;
    margin-inline-start: 2em;
}
main ol:not(.notlist) {
    list-style-type: decimal;
    margin-inline-start: 2em;
}
main ul.archive {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
}
ul.archive li {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}
ul.archive span {
    margin-inline-end: 1em;
}
header, footer {
    grid-area: header;
    background-color: white;
    background-color: var(--accent-bg);
    border-radius: 0 0 40px 40px;
    padding-inline: 1rem;
    padding-block: calc(1rem + 15px) 2rem;
    margin-block: 0 2rem;
}
footer {
    grid-area: footer;
    border-radius: 40px 40px 0 0;
    padding-block: 2rem 0;
    margin-block: 2rem 0;
    img {
        margin-inline: auto;
    }
}
img[usage="emoji"] {
    display: inline;
}
main img {
    margin-inline: auto;
}
main figcaption:not(:empty) {
    font-style: italic;
    font-size: .9em;
    text-align: center;
    margin-block: .3em;
}
/* HI! */
.welcome {
    font-size: 3em;
    font-weight: bold;
    margin-block-start: 0;
}
img.cascadehi {
    max-inline-size: 40ch;
    position: absolute;
    left: 45ch;
    bottom: -44px;
}
@media only screen and (max-width: 700px) {
    img.cascadehi {
        left: 50%;
        transform: translateX(-50%);
    }
    .container:has(img.cascadehi) {
        padding-block-end: 400px;
    }
}
/* Engagements */
.mentions {
    grid-area: mentions;
    margin-block-start: 1em;
    border-block-start: 3px solid var(--dark-accent-bg);

    form[name="new-comment"] .after-send { display: none; }
    form[name="new-comment"].comment-sent {
        > *:not(.after-send) {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        }
        .after-send { display: block; margin: 1em; }
    }
    form {
        background-color: var(--accent-bg);
        border-radius: 15px;
        padding: 1em;
        margin-block: 1em;
        display: flex;
        flex-direction: column;
    }
    input {
        display: block;
        max-inline-size: 100%;
        inline-size: 30ch;
        border: 2px solid var(--text-color);
        padding: .5em 1em;
        border-radius: 15px;
    }
    textarea {
        display: block;
        width: 100%;
        border: 2px solid var(--text-color);
        padding: .5em 1em;
        border-radius: 15px;
        min-height: 10em;
    }
    button {
        border: 2px solid var(--text-color);
        padding: .5em 1em;
        border-radius: 15px;
        + button { margin-inline-start: 1em; }
        &:hover, &:focus {
            background-color: var(--background-color);
        }
    }
    summary {
        cursor: pointer;
    }
    .likes, .reposts {
        ul {
            display: flex;
            gap: 5px;
            margin-block: 5px;
        }
        img.u-photo {
            max-inline-size: 50px;
            border-radius: 15px;
        }
        &.empty {
            display: none;
        }
    }
    .replies {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-block: 1em;
        .comment {
            display: grid;
            grid-template-columns: 0px 100px 1fr;
            grid-template-areas: 'nesting avatar content';
            outline-offset: 50px;
            outline-color: transparent;
            outline-width: 50px;
            &.nestingLevel-2 { grid-template-columns: 50px 100px 1fr; }
            &.nestingLevel-3 { grid-template-columns: 100px 100px 1fr; }
            &:target {
                outline-offset: 5px;
                outline-color: var(--text-color);
                outline-style: solid;
                outline-width: 2px;
                transition: all .75s;

            }
        }
        .avatar {
            grid-column: avatar;
            margin-inline-end: 2em;
            img {
                border-radius: 15px;
            }
        }
        article, .meta {
            grid-column: content;
            padding: .5em;
            background-color: var(--accent-bg);
            position: relative;
        }
        article { border-radius: 15px 15px 0 0; }
        .meta {
            margin-block-start: 3px;
            border-radius: 0 0 15px 15px;
            font-style: italic;
            opacity: 0.7;
        }
        article::before {
            content: '';
            display: block;
            block-size: 2em;
            inline-size: 3em;
            position: absolute;
            right: 100%;
            top: 1em;
            border-style: solid;
            border-color: transparent var(--accent-bg) transparent transparent;
            border-width: 1em 1.5em;
        }
    }
}
/* Footer */
.furcode { font-style: italic; }