<!DOCTYPE html>
<html lang="en">
<head>

    {% include "snippets/headtag.njk" %}

</head>
<body class="{% if category %}{% if post.category %}{{ post.category }}{% else %}{{ category }}{% endif %}{% endif %}{% if home %} home {% endif %}" data-width="???">
    <header class="container">

        {% include "snippets/header.njk" %}

    </header>
    <main class="container{% if isPage %} flow{% endif %}">
        
        {{ content | safe }}

    </main>
    {% if not nocomments %}
    <section class="container flow mentions">

        {% include "snippets/engagement.njk" %}

    </section>
    {% endif %}
    <footer class="container flow">

        {% include "snippets/footer.njk" %}
        
    </footer>
    <script>
        window.addEventListener('resize', function(){
            document.body.setAttribute('data-width', window.innerWidth);
        });
    </script>
</body>
</html>