<!DOCTYPE html>
<html lang="en">
<head>

    {% include "snippets/headtag.njk" %}

</head>
<body>
    <main style="padding-block: 3em;">
        
        {{ content | safe }}

    </main>
</body>
</html>