---
title: you find yourself in cascading.space
home: true
permalink: '/index.html'
eleventyExcludeFromCollections: true
nocomments: true
---

<img class="cascadehi" src="https://cdn.protogen.gg/wp-content/uploads/2024/07/cascade-profile-transparent-nosquare.png" alt="Cascade popping up smiling" />


<p class="welcome">welcome, friends!</p>

<section class="home-section">
  <h2><a href="/about">about me</a></h2>
</section>

<section class="home-section">
  <h2><a href="/post" aria-label="All posts">blog</a></h2>
  <ul class="archive">
  {%- for post in collections.allarticles -%}
    <li>
      <span>{% if not post.data.post.date %}{{ post.date.toLocaleDateString() }}{% else %}{{ post.data.post.date.toLocaleDateString() }}{% endif %}</span>
      <a href="{{ post.url }}">{% if not post.data.post.title %}{{ post.data.title | safe }}{% else %}{{ post.data.post.title | safe }}{% endif %}</a>
    </li>
  {%- endfor -%}
  </ul>
</section>

<section class="home-section">
    <h2><a href="https://en.wikipedia.org/wiki/Webring" target="_blank">webrings</a></h2>
    {% include "snippets/webrings.njk" %}
</section>