---
title: Sitemap
permalink: "/sitemap/"
eleventyExcludeFromCollections: true
nocomments: true
---

<h1>Sitemap</h1>

<ul class="archive">
{%- for post in collections.alleverything -%}
  <li>
    <span>{{ post.date.toLocaleDateString() }}</span>
    <a href="{{ post.url }}">{{ post.data.title | safe }}</a>
  </li>
{%- endfor -%}
</ul>