<article class="h-card aboutme flow">
    <a class="u-url" href="https://cascading.space"><img class="u-photo" src="{{siteRoot}}/bin/img/cascade-icon.jpeg" alt="Cascade the Protogen" /></a>
    <span class="visually-hidden p-pronouns">They/them/it</span>
    <p class="p-note"><span class="p-name">Cascade the Protogen</span> is an immigrant from the planet Xerox VII. They enjoy interstellar relays, 5D movies, and pulp adventure serials. They also make websites, art, stories, and games.</p>
    <ul>
        <li><a rel="me" target="_blank" href="https://t.me/cascadingspace">Telegram</a></li>
        <li><a rel="me" target="_blank" href="https://signal.me/#eu/jxgYKzxfauPAqawTEgeeeqaXcs4oppAoCt3gq4MKcfaNPBimunVLQKNZy9ZOydwy">Signal</a></li>
        <li><a rel="me" target="_blank" href="https://bsky.app/profile/cascading.space">Bluesky</a></li>
        <li><a rel="me" target="_blank" href="https://furry.engineer/@cascade">Mastodon</a></li>
        <li><a href="/feed.xml">RSS feed</a></li>
        <li><a class="u-email" href="mailto:cascade@cascading.space">Email</a> [<a target="_blank" href="/bin/cascade-pgp.txt">PGP</a>]</li>
    </ul>
</article>
<div class="footerbottom flow">
    <p class="furcode">FCcp3acdr A+>++++ C+ D++>m+++ H++ P+ R T+++ W>+++ Z>++++ Sp- RLMC a+ cmn+++ d++ e+ f+ h++++ iwf+++ j p sm*</p>
    <p class="carbon-footprint"><a href="https://www.websitecarbon.com/website/cascading-space/" target="_blank">0.10g of CO2 per visit</a></p>
    <p><a href="/all">Full Sitemap</a></p>
    <img notransform class="spinny-chair" src="{{siteRoot}}/bin/img/spinny-chair.gif" alt="a protogen going around in a spinny chair singing" />
</div>
{% if unicornJs %}
    <script src="{{ unicornJs }}"></script>
{% endif %}