{% if home %}
    <h1 class="site-header">you are now in <a href="/" class="aesthetic">cascading.space</a>, enjoy your stay</h1>
{% else %}
    <p class="site-header">you are now in <a href="/" class="aesthetic">cascading.space</a>, enjoy your stay</p>
{% endif %}
{# Movement toggle later #}
{# Theme toggle later #}